# Auto generated backups #
*~

# Some gwt speicial folders #
.project
.classpath
.settings
.gwt
metadata/
war/resources/
gwt-unitCache/
war/WEB-INF/
src/META-INF/
src/log4j.properties
war/SwissMuseumCore/*cache.*
war/SwissMuseumCore/hosted.html
war/SwissMuseumCore/junit-standards.html
war/SwissMuseumCore/junit.html
war/SwissMuseumCore/.junit_symbolMaps/
